.titulo-categ {
    font-size: 5vh;
    padding: 3vh; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;     
    padding: 1px; 
    color: #404040; 
}

.titulo-billete {
    font-size: 20px !important;
    padding: 2vh; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;     
    padding: 1px; 
    color: #585858;
}

.texto-billete {
    font-size: 13px;
    color: red;
    padding: 2vh 2vh; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;      
}

.comprar-billete {
    border: none;
    padding: 8px;
    background: #33cc33;    
    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.comprar-billete:hover {
    background: #70db70;
    color: #fff;
}

.cantidad-viajes {
  width: 3em;
    margin: 1em;

}

