.jumbotron {
    padding: 1rem;
    background-color: #ffd9b3;
    color: #ff8000;
}

.navbar {
    background-color: #ff8000;
}

.page-footer {
    text-align: center;
    background-color: #ff8000;
    color: #fff;
} 

h1 {
    font-size: 3rem;
}

.noticias {
    padding: 1rem;
    background-color: #ffd9b3;
}

.descripcion {
    padding: 1rem;
    height: 20rem;
}

#error-button{
    padding: 1rem;
    margin:auto;
    display:block;
}

#error-button a{
    text-decoration: none;
}


