img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-left: 3rem;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
  }

  .compra {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  select {
    margin-right: 2rem;
  }