* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    color: #000;
}
her

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2rem;
}

nav {
    background-color: rgb(49, 49, 49);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
    text-align: left;
}

nav a {
    color: #FFF;
    text-decoration: none;
    margin: 1rem;
}

nav li:hover {
    background-color: orange;
}


@media (min-width: 600px) {
    nav ul {
        display: flex;
    }
}

section {
    margin: 3rem;
}

footer {
    background-color: rgb(49, 49, 49);
    color: #FFF;
    padding: 2rem;
    text-align: center;
}

.carousel-style {
    width: 50%;
}